<% content_for :title do %>About this App<% end %>
<% content_for :description do %>About this App<% end %>

<div>
  <p>I wrote this app in order to better allow users of the DecoNetwork system to produce items in bulk. Often with affiliate stores, Fulfillment Centers would like to treat the orders from those stores as they would campaign stores. This means they need a simple list of products with their sizes, colors, and customizations listed in a table or other worksheet-style format.</p>
</div>
